@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

html {
    font-family: "Sora", sans-serif;
    scroll-behavior: smooth;
}

.root_bg {
    background-image: url("../src/assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* "import React from 'react';

const Services = () => {
    return (
        <div id='services' className='h-[50vh]'>
            Services
        </div>
    );
};

export default Services; "
"html {
    font-family: "Sora", sans-serif;
    scroll-behavior: smooth;
} "
"import React from 'react';
import logo from '../../assets/logo.png';
import { Link, NavLink } from 'react-router';
import { MdEmail } from 'react-icons/md';

const navlink = [
    {
        path: "home",
        display: "Home"
    },
    {
        path: "about",
        display: "About"
    },
    {
        path: "services",
        display: "Services"
    },
    {
        path: "skill",
        display: "Skills"
    },
    {
        path: "projects",
        display: "Projects"
    },
    {
        path: "contacts",
        display: "Contacts"
    },
]

const Navbar = () => {
    return (
        <nav className='h-[11vh] w-full flex items-center justify-between lg:px-[30px] bg-[#9696961a] rounded-xl'>
            {/* Logo
}

<Link to= {
    "/"
}

><img className='h-[45px]' src= {
    logo
}

alt="logo" /></Link> {
    Menu Item  
}

<ul className='flex items-center gap-[30px]'> {
    navlink?.map((item, index)=> (<li key= {
                index
            }

            > <a href= {
                `#$ {
                    item?.path
                }

                `
            }

            > {
                item?.display
            }

            </a> </li>))
}

</ul> {
    Right Site Button 
}

<button className='py-[10px] px-[30px] border-b-[3px] border-[#ffae00] hover:border-[#fff] hover:text-[#fff] rounded-xl bg-[#ffae001e] hover:bg-[#ffae00] text-[#ffae00] duration-500 active:scale-[.9]'>HIRE ME ! </button></nav>);
}

;

export default Navbar;
"
 scroll-behavior: smooth;
not working . plz solve this isue  */